@use 'src/styles.sass'

.product-card__container
  border-radius: 10px

.product-card-bottom__wrapper
  display: grid
  grid-template-columns: 45% 55%
  height: 225px

.product-card__left
  grid-column: 1/2
  margin: 20px

.product-card__right
  grid-column: 2/3
  margin: 20px 20px 20px 20px
  display: grid
  grid-template-rows: 45px 50px 30px 20px 20px

.button__field
  display: flex
  flex-direction: row

button
  width: 100%

.icon
  font-size: 17px

.product_title
  grid-row: 1/2

.product_subtitle
  grid-row: 2/3
  letter-spacing: 0.7px


.product_subtitle-small
  grid-row: 3/4
  color: dimgrey

.product_subtitle-vsmall
  grid-row: 4/5
  opacity: 70%
  color: green

.product_subtitle-xsmall
  grid-row: 5/6

.icon__list
  grid-row: 6/7

.button-main
  border-radius: 20%
  margin: 3px
  width: 60px
.icon-cart
  position: absolute
  top: 11px
  left: 26px

