.product-card-bottom__wrapper
  display: grid
  grid-template-columns: 0.3fr 0.7fr

.product-card__left
  grid-column: 1/2
  margin: 20px


.product-card__right
  grid-column: 2/3
  margin: 20px 0

.button__field
  margin: 20px

button
  width: 100%
