
<!--<div class="sidebar__container" *ngIf="filterCategoryField$ | async as category">-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-select-->
<!--      class="sidebar__form&#45;&#45;control"-->
<!--      (selectionChange)="optionCategorySelected($any($event.value))"-->
<!--    >-->
<!--      <mat-option value="0">- All categories -</mat-option>-->
<!--      <mat-option-->
<!--        *ngFor="let category of filterCategoryField$ | async as category"-->
<!--        [value]="category.id"-->
<!--      >-->
<!--        {{ category.category_name }}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--</div>-->

<div class="sidebar__container" *ngIf="filterField$ | async as supplierItem">
  <mat-form-field appearance="fill">
    <mat-select
      class="sidebar__form--control"
      (selectionChange)="optionSupplierSelected($any($event.value))"
    >
      <mat-option value="0">- All categories -</mat-option>
      <mat-option
        *ngFor="let supplierItem of filterField$ | async as supplier"
        [value]="supplierItem.id"
      >
        {{ supplierItem.supplier_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="font-primary"></div>
