
<div class="sidebar__container">
  <mat-form-field appearance="fill">
    <mat-select
      class="sidebar__form--control"
      (selectionChange)="optionCategorySelected($any($event.value))"
    >
      <mat-option value="0">- All categories -</mat-option>
      <mat-option
        *ngFor="let categoryItem of filterCategoryField$ | async as category"
        [value]="categoryItem.id"
      >
        {{ categoryItem.category_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="sidebar__container">
  <mat-form-field appearance="fill">
    <mat-select
      class="sidebar__form--control"
      (selectionChange)="optionSupplierSelected($any($event.value))"
    >
      <mat-option value="0">- All suppliers</mat-option>
      <mat-option
        *ngFor="let supplierItem of filterField$ | async as supplier"
        [value]="supplierItem.id"
      >
        {{ supplierItem.supplier_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
