<div class="container">
  <mat-card class="cart__checkout--total">
    <h2 class="cart__price-label font-label">Shopping Cart</h2>
    <div class="cart__price-amount font-label">{{ total | currency }}</div>
    <hr/>
    <div class="cart__checkout">
      <button mat-raised-button class="margin-lg-center" (click)="onCheckout()">Checkout</button>
    </div>
  </mat-card>
  <app-shopping-cart-detail *ngIf="products$" [products]="products"
                            (removeFromCartEvent)="removeFromCart($event)"
                            (addToWishListEvent)="addToWishlist($event)"
  ></app-shopping-cart-detail>
</div>
