.container
  display: flex
  justify-content: center
  margin: var(--margin-lg)
  min-height: 900px

.payment__label--summary
  font-size: 24px

.payment__label--cart
  font-size: var(--font-size-lg)

.payment__order--summary
  margin: var(--margin-md)
  min-width: 600px

.payment__payment--labels
  margin: var(--margin-md)

