<div class="container">
<mat-table [dataSource]="dataSource" >
  <!-- Product ID Column -->
  <ng-container matColumnDef="productId">
    <mat-header-cell *matHeaderCellDef> Product ID </mat-header-cell>
    <mat-cell class="cell_hover" *matCellDef="let product" [routerLink]="['/', product.productId]"> {{ product.productId }} </mat-cell>
  </ng-container>

  <!-- Product Name Column -->
  <ng-container matColumnDef="product_name">
    <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
    <mat-cell class="cell_hover" *matCellDef="let product" [routerLink]="['/', product.productId]"> {{ product.product_name }} </mat-cell>
  </ng-container>

  <!-- Product Price Column -->
  <ng-container matColumnDef="product_price">
    <mat-header-cell *matHeaderCellDef> Product Price </mat-header-cell>
    <mat-cell class="cell_hover" *matCellDef="let product"> {{ product.product_price }} </mat-cell>
  </ng-container>

  <!-- Supplier ID Column -->
  <ng-container matColumnDef="supplierId">
    <mat-header-cell *matHeaderCellDef> Supplier </mat-header-cell>
    <mat-cell *matCellDef="let product"> {{ product.supplierId }} </mat-cell>
  </ng-container>

  <!-- Category ID Column -->
  <ng-container matColumnDef="categoryId">
    <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
    <mat-cell *matCellDef="let product"> {{ product.categoryId }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
    <mat-cell *matCellDef="let product"> {{ product.quantity }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons=""></mat-paginator>
</div>
