.cart__items-container
  display: grid
  grid-template-columns: 40% 60%
  margin: 40px auto 40px
  padding: 30px
  border-radius: var(--border-radius-sm)
  width: 700px
  height: 220px


.cart__inner-wrapper
  margin: var(--margin-sm)


.cart__product-image
  grid-column: 1/2
  margin: var(--margin-md)


.cart__label-wrapper
  margin: 30px
  grid-column: 2/3

.cart__badge
  position: absolute
  right: 500px
  bottom: 140px


.cart__card_price-amount
  font-size: 28px
  position: absolute
  right: 4rem
  bottom: 6.5rem


.cart__remove-product
  grid-column: 2/3


.cart__remove-button
  margin: var(--margin-md)
  position: absolute
  left: 460px
  top: 170px



.cart__wishlist-button
  margin: var(--margin-sm)
  position: relative

