.container
  background-color: lightslategray
  border-radius: 10px
  display: grid
  grid-template-columns: 1fr 1fr

.navigation
  grid-column: 1/2
  margin: auto

.auth-field
  margin: 20px auto
  grid-column: 2/3

.button
  margin: 20px 0 20px 20px
  width: 60px

.nav-button
  width: 120px
  margin-left: 10px
